{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Register - HealthCare Management System{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card">
            <div class="card-header text-center">
                <h3><i class="fas fa-user-plus"></i> Register</h3>
                <p class="mb-0 text-muted">Create your healthcare account</p>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                    </div>
                    
                    {{ form.email|as_crispy_field }}
                    {{ form.phone_number|as_crispy_field }}
                    {{ form.user_type|as_crispy_field }}
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.password1|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.password2|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg">
                            <i class="fas fa-user-plus"></i> Register
                        </button>
                    </div>
                </form>
                
                <hr>
                
                <div class="text-center">
                    <p class="mb-0">
                        Already have an account? 
                        <a href="{% url 'accounts:login' %}" class="text-decoration-none">
                            Login here
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}